body {
    font: 20px Arial, sans-serif;
    color: white;
}

.navbar{
    background-color: #6600FF;
}

.quem-somos {
    background-color: #9100FF;
    color:white;
}

.margin {
    /* padding-top: 50px; Cria uma espaçamento dentro da mesma caixa, aumentando o tamanho da caixa na parte superior */
    /* margin-top: 30px; Cria um espaçamento entre o elemento de cima e o elemento de baixo. */
    padding-bottom: 50px; /*Cria espaçamento na parte de baixo do button */
    padding-top: 10px;
}

.parceiros {
    background-color:#A500FF;
    color:white;
}

.servicos {
    background-color: #D800FF;
    color: white;
}

.bg-footer {
    background-color: #FF00DC;
    color: white;
}
